<div class="mt-5">
  <h2 style="font-weight: bold; color: rgb(224, 0, 0)">
    <i class="fas fa-exclamation-triangle"></i>
    此連結網址目前不存在喔!!</h2>
  <a href="/" class="btn btn-outline-primary mt-4">
    Back to Home Page
  </a>
</div>