<div class="container text-center d-flex justify-content-center mt-5">
  <form action="/" method="POST">
  <div class="form-group d-flex row justify-content-center mt-3" style="width: 500px;">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Input URL here" name="inputURL" value="{{ inputURL }}">
    </div>
    <div class="col-12 mt-3">
      {{#if errMessage}}
      <div class="alert alert-danger" role="alert">
        {{ errMessage }}
      </div>
      {{/if}}
    </div>
    <div class="col mt-2">
      <button type="submit" class="btn btn-outline-primary">Shorten</button>
    </div> 
  </div>
  </form>
</div>
 