<div class="container text-center mt-5">
  <form action="/" method="POST">
  <div class="form-group row mt-5 justify-content-center">
    <input type="text" class="form-control" placeholder="Input URL here" name="inputURL" value="{{ inputURL }}">
    <a href="/show">
      <button type="submit" class="btn btn-outline-primary mt-5">Shorten</button>
    </a> 
  </div>
  </form>
  {{#if errMessage}}
  <div class="alert alert-danger" role="alert">
    {{ errMessage }}
  </div>
  {{/if}}
</div>
 